/*
 * --------------------------------
 * GLOBAL STYLES FOR FORMS AND FORM ELEMENTS
 * --------------------------------
 * This file contains styles that can be applied
 * to forms and form elements.
*/


/*
 * ====================================
 * INPUT FIELD STYLES
 * ====================================
*/

/* Styles for input fields in form (text, email, password, etc.). */
.g_form__input {
  width: 100%;
  box-sizing: border-box;   /* fix за ширината */
  padding: 12px;
  margin-top: 15px;

  border: 1.5px solid #d0d6e1;
  border-radius: 8px;

  background: #f9fbff;
  transition: all 0.2s;
}

/* Style when the input field in a form is focused (active field) */
.g_form__input:focus {
  border-color: #0066ff;
  box-shadow: 0 0 0 3px rgba(0, 102, 255, 0.15);
  outline: none;
}

/* A submit button  */
.g_form__submit {
  width: 100%;
  
  padding: 12px;
  margin-top: 15px;

  background-color: #3690a6;
  color: #ffffff;

  border: none;
  border-radius: 8px;
  
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.2s;
}

/* Style when the cursor hovers over the submit button */
.g_form__submit:hover {
  background-color: #3263b2;
}
